<% provide(:title, 'Sign Up') %>
<h2>Sign Up</h2>
<div class="container">
  <div class="span8 offset2">

    <%= form_for @user, :html => {:class => "form-horizontal"} do |f| %>
      <% if @user.errors.any?  %>
      <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for msg in @user.errors.full_messages %>
          <li>
        <%= msg %>
        </li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="control-group">
      <%= f.label :name, 'Name', :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :name %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :email, 'Email', :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :email %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :password, 'Password', :class => "control-label" %>
      <div class="controls">
        <%= f.password_field :password %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :password_confirmation, 'Confirm Password', :class => "control-label" %>
      <div class="controls">
        <%= f.password_field :password_confirmation %>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
          <%= f.submit "Sign up", class: "btn btn-primary" %>
          Already signed up, <%= link_to "login in", login_path %>
      </div>
    </div>
  <% end %>

  </div>
</div>
